* {
  overflow-x: hidden;
  max-width: 100%;
}


header {
  background-image: url(./img/LogoFundo.png);
  background-size: contain;
  background-position-y: 55px;
  background-color: #090455;
}
  .triangulo{
    display: none;
  }
h3 {
  font-size: 24px;
}

#dia {
  font-size:20px;
}

p {
  font-size: 14px;
  
}


#candidato h1, h2{

  font-size: 1rem;
 }


 #candidato{
  display: none;
  background-color: rgb(224, 223, 223);
  padding: 50px;
  width: 90%;
  margin-top: -205px;
  margin-left: 5%;
 }
.banner .banner-text {
  font-size: 32px;
  padding: 0;
  margin: auto;
  margin-bottom: 25px;
}

.banner .banner-text h1 {
 display: none;
}

.banner .banner-text p {

  display: none;
}

#saibamais {
  /* margin-top: 50%; */
  margin-left: 25%;

}

.container img {
  width: 100%;
}

.faca-mais .container img {
  width: 100%;
}

.btn {
  font-size: 14px;
  margin-bottom: 50px;
}

.galeria {
  width: 95%;
  margin-left: 15vw;
}
.gallery {
  gap:4px;
 }
.galeriaEmpresa {
  margin-top: -2px;
}
.galeria-items {
  width: 300px;
}

.foto {
  width: 250px;
  height: 250px;
  margin-right: 70vw;
  margin-left: 35vw;
}

.Nossoservico {

  width: 100%;
}
.servicos p{
 margin-left: 15%;
}

.NossoServico img {
  display: none;
  margin-right: 15px;
 box-shadow: 0 0 20px black;
}

.BannerFoto h1 {
  margin-top: 45%;
}

#BannerCliente {
  height: 99vw;
}
#BannerCliente h1 {
  margin-top: 115px;
}
#serv {

  margin-top: -50px;
}
.imagemSobre {
  margin-left: 0;
}

.galeria {
  width: 71%;
  height: 410px;
  margin-left: 14vw;
}

.BannerFoto {
  background-image: url(../img/Galeria/guincho.JPG);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size:auto;

}

.BannerGaleria h1 {
  margin-top: 152px;
}
.btnServico {
  margin-left: 30.2%;
}

.galeria-container {

  margin-top: 18px;

}

.triangulo5 {
  position: absolute;
  margin-top: 60px;
}


.whatsapp i {
  padding: 10.5px;
  font-size: 25px;
  display: flex;
  background-color: #1ec213;
  color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
footer{
  height: 250px;
}

.responsiva {
  display: flex;
}

.instagram i {
  display: block
}

.instagram {
  display: block;
  padding: 10px;
  height: 46px;
  font-size: 25px;
  background: linear-gradient(#e66465, #9198e5);
  color: white;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.redesSociais a,
.zap,
.insta {
  display: none;
}
.responsiva {
  display: flex;
  margin-top: 150px;
  width: 56%;
}

#btnTopo {
  margin-left: 0;
  margin-bottom: 115px;
  font-size: 10px;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
  }

  .banner .banner-text {
    padding: 15px;
  }

  .banner .banner-text h1 {
    font-size: 28px;
  }

  .banner .banner-text p {
    font-size: 14px;
  }

  .servicos p {
    font-size: 14px;
    margin-right: 10px;

  }

  .faca-mais .container {
    flex-direction: column;
  }

  .faca-mais-text {
    width: 100%;
    margin: 10px 0;
  }


  .ul {
    left: 0;
  }
  .logo{
    display: none;
  }
  .open-btn {
    display: block;
    margin-right: 40px;
    margin-top: 0;
  }
}

.close-btn {
  margin-right: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0549;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
}

.logo {
  height: 50px;
  margin-left: 20px;
}

#fecharModal {
  display: flex;
  justify-content: end;
  margin-right: 45px;
  font-size: 25px;
}



.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #111111de;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  margin: 10px 0;
  border-bottom: solid 2px #0821b1;

}

.mapa iframe{
  width: 90%;
}